/* Header */

/* Sidebar */
.pop-hover {
    transition: transform .3s;
}

.pop-hover:hover {
    transform: scale(1.2);
}

.pop-hover-s {
    transition: transform .3s;
}

.pop-hover-s:hover {
    transform: scale(1.1);
}

.noBorder {
    border: none !important;
}

.iconActive {
    background-color: black;
}

.iconActive .nav-link {
    color: white !important;
}

.iconActive i {
    color: white !important;
}

.iconActive p {
    color: white !important;
}

.iconInactive {
    background-color: white;
}

.iconInactive .nav-link {
    color: black !important;
}

.iconInactive i {
    color: black !important;
}

.iconInactive p {
    color: black !important;
}

/* Main Container */
.main-container {
    overflow-y: auto;
    height: 100%;
}
