:root {
    --bodyBg: #d89d994D;    
    --layoutBg: #ffffffc5;
    --cardBg: #d469614D;
    --primary: #ac3b61cc;
    --secondary: #de94ad;
    /*? Main Components */
    --mainActiveBg: var(--primary);
    --mainActiveIcon: white;
    --mainActiveText: white;
    --mainInactiveBg: transparent;
    --mainInactiveIcon: black;
    --mainInactiveText: black;
    /*? Secondary Components */
    --secondaryBg: var(--secondary);
    --secondaryIcon: white;
    --secondaryText: white;
    /*? Sidebar Components */
    --sidebarBg: var(--primary);
    --sidebarActiveBg: white;
    --sidebarActiveIcon: var(--primary);
    --sidebarInactiveBg: transparent;
    --sidebarInactiveIcon: white;
    /*? Other Components */
    --progressLevelBg: var(--primary)
}