<div class="h-100">
  <div class="container-fluid h-100">
    <!-- First Row -->
    <div class="row h-50 gap-3">
      <!-- Bruno -->
      <div class="col-sm-4 shadow rounded-4" style="background-color: var(--cardBg); height: 100%;">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="text-center">
            <img src="/static/img/team/bde-sous.jpg" class="rounded mx-auto d-block w-25 mt-3" alt="..." style="max-width: 100%;">
            <p class="h4 mt-3"><strong>Bruno Manuel de Sousa Camarinha</strong></p>
            <p class="h6 mt-0">bde-sous</p>
            <h4><span class="badge" style="background-color: var(--mainActiveBg);">System Administrator</span></h4>
          </div>
          <div class="d-flex justify-content-center mb-5">
            <a href="#" class="mx-3 fa-brands fa-github fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-brands fa-linkedin fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-solid fa-id-card fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
          </div>
        </div>
      </div>
      <!-- End Bruno -->
      <!-- Carolina -->
      <div class="col-sm-4 shadow rounded-4" style="background-color: var(--cardBg); height: 100%;">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="text-center">
            <img src="/static/img/team/csilva-f.jpg" class="rounded mx-auto d-block w-25 mt-3" alt="..." style="max-width: 100%;">
            <p class="h4 mt-3"><strong>Carolina Silva Figueiredo</strong></p>
            <p class="h6 mt-0">csilva-f</p>
            <h4><span class="badge" style="background-color: var(--mainActiveBg);">Backend Development</span></h4>
          </div>
          <div class="d-flex justify-content-center mb-5">
            <a href="#" class="mx-3 fa-brands fa-github fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-brands fa-linkedin fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-solid fa-id-card fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
          </div>
        </div>
      </div>
      <!-- End Carolina -->
      <!-- Rita -->
      <div class="col shadow rounded-4 px-0 d-flex flex-column h-100" style="background-color: var(--cardBg);">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="text-center">
            <img src="/static/img/team/rimarque.jpg" class="rounded mx-auto d-block w-25 mt-3" alt="..." style="max-width: 100%;">
            <p class="h4 mt-3"><strong>Rita Marques Ferreira</strong></p>
            <p class="h6 mt-0">rimarque</p>
            <h4><span class="badge" style="background-color: var(--mainActiveBg);">Backend Development</span></h4>
          </div>
          <div class="d-flex justify-content-center mb-5">
            <a href="#" class="mx-3 fa-brands fa-github fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-brands fa-linkedin fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-solid fa-id-card fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
          </div>
        </div>
      </div>
      <!-- End Rita -->
    </div>
    <!-- End First Row -->
    <!-- Second Row -->
    <div class="row h-50 gap-3 pt-3">
      <!-- Jenny -->
      <div class="col-sm-4 shadow rounded-4" style="background-color: var(--cardBg);">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="text-center">
            <img src="/static/img/team/jede-ara.jpg" class="rounded mx-auto d-block w-25 mt-3" alt="..." style="max-width: 100%;">
            <p class="h4 mt-3"><strong>Jennifer de Araujo Oliveira</strong></p>
            <p class="h6 mt-0">jede-ara</p>
            <h4><span class="badge" style="background-color: var(--mainActiveBg);">Frontend Development</span></h4>
          </div>
          <div class="d-flex justify-content-center mb-5">
            <a href="#" class="mx-3 fa-brands fa-github fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-brands fa-linkedin fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-solid fa-id-card fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
          </div>
        </div>
      </div>
      <!-- End Jenny -->
      <!-- Diogo -->
      <div class="col-sm-4 shadow rounded-4" style="background-color: var(--cardBg);">
        <div class="d-flex flex-column justify-content-between h-100">
          <div class="text-center">
            <img src="/static/img/team/dinoguei.jpg" class="rounded mx-auto d-block w-25 mt-3" alt="..." style="max-width: 100%;">
            <p class="h4 mt-3"><strong>Diogo Nogueira Sousa</strong></p>
            <p class="h6 mt-0">dinoguei</p>
            <h4><span class="badge" style="background-color: var(--mainActiveBg);">Frontend Development</span></h4>
          </div>
          <div class="d-flex justify-content-center mb-5">
            <a href="#" class="mx-3 fa-brands fa-github fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-brands fa-linkedin fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
            <a href="#" class="mx-3 fa-solid fa-id-card fa-xl" style="color: var(--mainActiveBg); text-decoration: none">
            </a>
          </div>
        </div>
      </div>
      <!-- End Diogo -->
      <div class="col shadow rounded-4 px-0 d-flex flex-column h-100" style="background-color: var(--cardBg);">
        <p>bla bla bla, depois acabo fds</p>
        falta meter os links para tudo
      </div>
    </div>
    <!-- End Second Row -->
  </div>
</div>