<div class="h-100">
  <div class="container-fluid h-100 d-flex flex-column overflow-y-auto">
    <div class="row p-2" style="min-height: 100%">
      <div class="col-12 border border-2 border-black shadow rounded-3 w-100">
        <div class="row pt-2">
          <!-- Bruno Card -->
          <div class="col-4">
            <div class="card">
              <img src="/static/img/pfp1.jpeg" class="card-img-top w-25" alt="...">
              <div class="card-body">
                <p class="card-text">
                <dl class="row">
                  <dt class="col-sm-2">Name</dt>
                  <dd class="col-sm-10">
                    <p>Bruno Manuel de Sousa Camarinha</p>
                  </dd>
                  <dt class="col-sm-2">Nick</dt>
                  <dd class="col-sm-10">
                    <p>bde-sous</p>
                  </dd>
                </dl>
                </p>
              </div>
            </div>
          </div>
          <div class="col-8">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <!-- End Bruno Card -->
          <!-- Carolina Card -->
          <div class="col-8">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="/static/img/pfp2.jpg" class="card-img-top w-25" alt="...">
              <div class="card-body">
                <p class="card-text">
                <dl class="row">
                  <dt class="col-sm-2">Name</dt>
                  <dd class="col-sm-10">
                    <p>Carolina Silva Figueireido</p>
                  </dd>
                  <dt class="col-sm-2">Nick</dt>
                  <dd class="col-sm-10">
                    <p>csilva-f</p>
                  </dd>
                </dl>
                </p>
              </div>
            </div>
          </div>
          <!-- End Carolina Card -->
          <!-- Rita Card -->
          <div class="col-4">
            <div class="card">
              <img src="/static/img/pfp1.jpeg" class="card-img-top w-25" alt="...">
              <div class="card-body">
                <p class="card-text">
                <dl class="row">
                  <dt class="col-sm-2">Name</dt>
                  <dd class="col-sm-10">
                    <p>Rita Marques Ferreira</p>
                  </dd>
                  <dt class="col-sm-2">Nick</dt>
                  <dd class="col-sm-10">
                    <p>rimarque</p>
                  </dd>
                </dl>
                </p>
              </div>
            </div>
          </div>
          <div class="col-8">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <!-- End Rita Card -->
          <!-- Jenny Card -->
          <div class="col-8">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="/static/img/pfp2.jpg" class="card-img-top w-25" alt="...">
              <div class="card-body">
                <p class="card-text">
                <dl class="row">
                  <dt class="col-sm-2">Name</dt>
                  <dd class="col-sm-10">
                    <p>Jennifer de Araujo Oliveira</p>
                  </dd>
                  <dt class="col-sm-2">Nick</dt>
                  <dd class="col-sm-10">
                    <p>jede-ara</p>
                  </dd>
                </dl>
                </p>
              </div>
            </div>
          </div>
          <!-- End Jenny Card -->
          <!-- Diogo Card -->
          <div class="card m-3 me-3" style="max-width: 98%; max-height: 25rem; overflow: hidden;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/static/img/pfp1.jpeg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 mt-2">
                <div class="card-body">
                  <h3 class="card-title"><strong>Diogo Nogueira Sousa</strong></h3>
                  <dl class="row">
                    <dt class="col-sm-2 h5"><strong>Nick</strong></dt>
                    <dd class="col-sm-10 h5">
                      <p>dinoguei</p>
                    </dd>
                    <dt class="col-sm-2 h5"><strong>Birth Date</strong></dt>
                    <dd class="col-sm-10 h5">
                      <p>08/09/2004</p>
                    </dd>
                    <dt class="col-sm-2 h5"><strong>Piscine #3</strong></dt>
                    <dd class="col-sm-10 h5">
                      <div class="row">
                        <div class="col-sm-2">
                          <strong>Start</strong>
                        </div>
                        <div class="col-sm-10">
                          <p>26/09/2022</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-2">
                          <strong>End</strong>
                        </div>
                        <div class="col-sm-10">
                          <p>14/10/2022</p>
                        </div>
                      </div>
                    </dd>
                    <dt class="col-sm-2 h5"><strong>KickOff #1</strong></dt>
                    <dd class="col-sm-10 h5">
                      <div class="row">
                        <div class="col-sm-2">
                          <strong>Start</strong>
                        </div>
                        <div class="col-sm-10">
                          <p>?</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-2">
                          <strong>End</strong>
                        </div>
                        <div class="col-sm-10">
                          <p>?</p>
                        </div>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>

          <!-- End Diogo Card -->
        </div>
      </div>
    </div>
  </div>
</div>