<div class="h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 shadow rounded-4" style="background-color: var(--layoutBg);">
                <div class="d-flex flex-column justify-content-center align-items-center h-100 p-3">
                    <i id="emailVerifiedIcon" class="fa-regular fa-circle-check d-none" style="color: #77bb41; font-size: 12rem;"></i>
                    <i id="emailVerifiedFailedIcon" class="fa-regular fa-circle-xmark d-none" style="color: red; font-size: 12rem;"></i>
                    <p id="emailVerifiedLabel1" class="h3 fw-bold text-center mt-3" data-i18n="emailVerified">Email Verified</p>
                    <p id="emailVerifiedLabel2" class="h5 text-center mt-0" data-i18n="emailSuccVerified">Your email address was successfully verified.</p>
                    <a onclick="goToLogin()" class="mt-3 btn d-flex align-items-center gap-2"
                        style="background-color: var(--primary); color: white; border: none; text-decoration: none;">
                        <i class="fa-solid fa-right-to-bracket fa-2xl my-2 ms-2"></i>
                        <p class="h4 m-0 ms-2" style="font-weight: bold">Login</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
