<div class="h-100">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
			<div class="p-3 shadow rounded" style="background-color: var(--cardBg); width: 600px;">
				<p class="h4 text-center" style="font-weight: bold; color: #000;" data-i18n="getIntoAccount"></p>

					<div class="tab-pane fade show active" id="forgotPwd" role="tabpanel" aria-labelledby="forgotPwd-tab">
						<form class="mt-3 needs-validation" id="forgotPwd-form" novalidate>
							<div class="mb-3">
								<div class="input-group">
									<span class="input-group-text"><i class="fas fa-envelope" style="color: var(--primary)"></i></span>
									<input type="email" class="form-control" id="ForgotPwdEmail" placeholder="Email" required>
								</div>
							</div>
							<button type="submit" class="btn" style="background-color: var(--primary); color: white; width: 100%;">send</button>
						</form>
						<p id="forgotPwd-message">
						</p>
					</div>
				</p>
			</div>
		</div>
	</div>
</div>
