<div class="container-fluid h-100">
  <div class="row row-cols-2 column-gap-2 row-gap-2 p-2 h-100">
    <div class="h-45 col-lg-8 col-md-8 col-8 border border-black shadow rounded-3">
      <h3>Notas:</h3>
      <h5>
        Logo a dar mirror sempre que se clica no rabinho do shin-chan
      </h5>
    </div>
    <div class="h-45 col-3 border border-black shadow rounded-3">
      <h3>Dúvidas:</h3>
      <h5>
        Perguntar ao Bruno se o load do content na pagina dos Games&Tournaments tambem deve ser dividido
      </h5>
    </div>
    <div class="h-45 col-lg-8 col-md-8 col-8 border border-black shadow rounded-3">
      <h3>Bugs Conhecidos:</h3>
      <h5>
        De vez enquando dá erro na Network a tentar dar fetch ou ao json da
        linguagem ou do logo
      </h5>
      <h5>
        Medidas desta pagina, pk que nao fica toda ate ao fim
      </h5>
      <h5>
        Criar a sidebar de mobile/tela reduzida
      </h5>
    </div>
    <div class="h-45 col-3 border border-black shadow rounded-3">
      <h3>UI:</h3>
      <h5>
        Decidir quanto ao tamanho dos butoes da sidebar
      </h5>
      <h5>
        Decidir quanto a maneira de criar novos jogos ou torneios, e a cor do respetivo button
      </h5>
    </div>
  </div>
</div>