<div class="h-100">
  <div class="container-fluid h-100">
    <!-- First Row -->
    <div class="row h-50 gap-3">
      <!-- Welcome and Games -->
      <div class="col-lg-8 col-md-7 col-sm-12 shadow rounded-4" style="background-color: var(--layoutBg); height: 100%;">
        <div id="carouselExampleIndicators" class="carousel slide py-2" style="height: 100%;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner" style="height: 100%;">
            <div class="carousel-item active" style="height: 100%;">
              <img src="/static/img/banner/welcomeBanner2.svg" class="d-block w-100 h-100" style="object-fit: contain;" alt="Welcome Banner">
            </div>
            <div class="carousel-item" style="height: 100%;">
              
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- End Welcome and Games -->
      <!-- Game History -->
      <div class="col shadow rounded-4 px-0 d-flex flex-column h-100" style="background-color: var(--layoutBg);">
        <p class="h1 px-4 pt-2" style="font-weight: bold;" data-i18n="matchHistory"></p>
        <div class="px-4 pb-2 overflow-y-scroll noScrollBar" id="historyContent">
        </div>
      </div>
      <!-- End Game History -->
    </div>
    <!-- End First Row -->
    <!-- Second Row -->
    <div class="row h-50 gap-3 pt-3">
      <!-- Stats and Top Players -->
      <div class="col-lg-8 col-md-7 col-sm-12 shadow rounded-4" style="background-color: var(--layoutBg);">
        <p class="h1 px-4 pt-2" style="font-weight: bold;">Stats and Top Players</p>
      </div>
      <!-- End Stats and Top Players -->
      <!-- Friends List -->
      <div class="col shadow rounded-4 px-0 d-flex flex-column h-100" style="background-color: var(--layoutBg);">
        <p class="h1 px-4 pt-2" style="font-weight: bold;" data-i18n="friends"></p>
        <form class="d-flex px-4 pb-2" role="search">
          <input class="form-control rounded-3" type="search" placeholder="Search" aria-label="Search">
          <!--
            <button class="btn btn-outline-success" type="submit">Search</button>
          -->
        </form>
        <div class="px-4 pb-2 overflow-y-scroll noScrollBar">
          <div class="my-2 rounded-4">
            <div class="container-fluid rounded-4 d-flex border border-1" style="max-height: 6rem; min-height: 6rem;">
              <div class="d-flex" style="height: 6rem;">
                <div class="justify-content-center align-content-center" style="max-width: 5rem;">
                  <img src="/static/img/pfp2.jpg" style="object-fit: cover"
                    class="img-fluid w-100 rounded-circle shadow ms-2" id="user1Img" />
                </div>
                <div class="w-75 h-100 d-flex flex-column justify-content-center ms-4">
                  <div class="d-flex align-items-center">
                    <p class="h4 mb-0"><strong id="user1Nick">Hatsune Miku</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-2 rounded-4">
            <div class="container-fluid rounded-4 d-flex border border-1" style="max-height: 6rem; min-height: 6rem;">
              <div class="d-flex" style="height: 6rem;">
                <div class="justify-content-center align-content-center" style="max-width: 5rem;">
                  <img src="/static/img/rin.jpg" style="object-fit: cover"
                    class="img-fluid w-100 rounded-circle shadow ms-2" id="user1Img" />
                </div>
                <div class="w-75 h-100 d-flex flex-column justify-content-center ms-4">
                  <div class="d-flex align-items-center">
                    <p class="h4 mb-0"><strong id="user1Nick">Kagamine Rin</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-2 rounded-4">
            <div class="container-fluid rounded-4 d-flex border border-1" style="max-height: 6rem; min-height: 6rem;">
              <div class="d-flex" style="height: 6rem;">
                <div class="justify-content-center align-content-center" style="max-width: 5rem;">
                  <img src="/static/img/ado.jpg" style="object-fit: cover"
                    class="img-fluid w-100 rounded-circle shadow ms-2" id="user1Img" />
                </div>
                <div class="w-75 h-100 d-flex flex-column justify-content-center ms-4">
                  <div class="d-flex align-items-center">
                    <p class="h4 mb-0"><strong id="user1Nick">Ado</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-2 rounded-4">
            <div class="container-fluid rounded-4 d-flex border border-1" style="max-height: 6rem; min-height: 6rem;">
              <div class="d-flex" style="height: 6rem;">
                <div class="justify-content-center align-content-center" style="max-width: 5rem;">
                  <img src="/static/img/luka.jpg" style="object-fit: cover"
                    class="img-fluid w-100 rounded-circle shadow ms-2" id="user1Img" />
                </div>
                <div class="w-75 h-100 d-flex flex-column justify-content-center ms-4">
                  <div class="d-flex align-items-center">
                    <p class="h4 mb-0"><strong id="user1Nick">Megurine Luka</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Friends List -->
    </div>
    <!-- End Second Row -->
  </div>
</div>