<div class="h-100">
	<div class="container-fluid h-100">
		<div class="row h-100 gap-5">

			<div class="h-100 col-sm-12 shadow rounded-4" style="background-color: var(--layoutBg);">
				<div class="row h-100">

					<!-- User profile -->
					<div class="col-4 shadow rounded-4 ms-4 my-4" style="background-color: var(--bodyBg); z-index: 2">
						<div class="p-4 position-relative">
							<div class="text-center mb-4 d-flex justify-content-center">
								<label for="avatar" class="d-block" style="width: 150px; height: 150px;" id="avatarLabel">
									<img id="avatarPreview"
										src="/static/img/profile_page/backk.jpg"
										alt="Avatar" class="rounded-circle shadow"
										style="width: 150px; height: 150px; object-fit: cover; cursor: pointer; border: 2px solid var(--primary);">
								</label>
								<input type="file" id="avatar" class="d-none" accept="image/*"
									onchange="uploadAvatar(event)">
							</div>
							<div id="profileData" class="mt-4">
								<p class="h5 m-0 ms-3 fw-bold text-center mb-1" id="fullNameText"></p>
								<div class="d-flex align-items-center justify-content-center">
									<span class="status-dot-profile" id="userOnStatus"></span>
									<p class="h6 m-0 ms-2 text-center mb-1" id="nicknameText"></p>
								</div>

								<div class="progress mt-2" role="progressbar" aria-label="Basic example"
								 aria-valuemax="100" style="height: 14px;">
									<div class="progress-bar" style="background-color: var(--primary);"
									id="profileLvlProgress">
									</div>
								</div>

								<ul
									style="display: flex; justify-content: space-between; font-weight: bold; list-style-type:
									none; padding: 0; margin: 0; color: black;">
									<li id="profileLvlNow"></li>
									<li id="profileNextLvl"></li>
								</ul>

								<!-- Bio -->
								<p class="p-3 text-center mt-3" style="font-style: italic; color: black;" id="bioText"></p>

								<div class="p-3 mt-4 shadow rounded-4" style="background-color: var(--cardBg);">
									<p class="text-start">
										<strong data-i18n="phoneP"></strong> <span id="phoneNumberText"></span>
									</p>
									<p class="text-start">
										<strong data-i18n="birthdayP"></strong> <span id="birthdayText"></span>
									</p>
									<p class="text-start">
										<strong data-i18n="genderP"></strong> <span id="genderText"></span>
									</p>

									<div class="d-flex justify-content-between mt-3">
										<button id="profileEditButton" class="d-none btn d-flex align-items-center gap-2"
											style="background-color: var(--primary); color: white; border: none;"
											data-bs-toggle="modal" data-bs-target="#editProfileModal" onclick="document.querySelector('#editProfileForm').classList.remove('was-validated');">
											<i class="fa-solid fa-pen-to-square fa-lg"></i>
											<span class="d-none d-xl-block" style="font-size: 0.9rem;" data-i18n="edit"></span>
										</button>

										<button id="changePasswordButton" class="d-none btn d-flex align-items-center gap-2"
											style="background-color: var(--primary); color: white; border: none;"
											data-bs-toggle="modal" data-bs-target="#changePasswordModal">
											<i class="fa-solid fa-key fa-lg"></i>
											<span class="d-none d-xl-block" style="font-size: 0.9rem;" data-i18n="changePass"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Game statistics -->
					<div class="col shadow rounded-4 mx-4 my-4" style="background-color: var(--bodyBg); z-index: 2;">
						<div class="h-100 p-4">
							<div class="container-fluid h-100 d-flex flex-column">
								<div class="row" style="min-height: 5rem;">
									<div class="col-sm-12 shadow rounded-4 d-flex align-items-center w-100"
										style="background-color: var(--cardBg);">
										<nav class="container-fluid">
											<div class="row">
												<div class="col-lg-10 col-md-10 col-10">
													<div class="d-flex gap-2 h-100">
														<ul class="nav nav-pills" style="height: 3rem">
															<li class="pop-hover-s menuLi nav-item rounded-3 me-2 d-flex align-items-center iconInactive"
																id="statsEverythingIcon" onclick="StatsSelect(this.id)">
																<i class="fa-solid fa-medal fa-xl ms-2"></i>
																<p class="h5 m-0 ms-2 d-none d-xl-block"
																	style="font-weight: bold" data-i18n="overall"></p>
															</li>
															<li class="pop-hover-s menuLi nav-item rounded-3 me-2 d-flex align-items-center iconInactive"
																id="statsGameIcon" onclick="StatsSelect(this.id)">
																<i class="fa-solid fa-gamepad fa-xl ms-2"></i>
																<p class="h5 m-0 ms-2 d-none d-xl-block"
																	style="font-weight: bold" data-i18n="games"></p>
															</li>
															<li class="pop-hover-s menuLi nav-item rounded-3 ms-2 d-flex align-items-center iconInactive"
																id="statsTournamentIcon" onclick="StatsSelect(this.id)">
																<i class="fa-solid fa-trophy fa-xl ms-2"></i>
																<p class="h5 m-0 ms-2 d-none d-xl-block"
																	style="font-weight: bold" data-i18n="tournaments">
																</p>
															</li>
														</ul>
													</div>
												</div>
												<div class="col-2">
													<div class="d-grid gap-2 d-flex justify-content-end">
														<ul class="nav nav-pills" style="height: 3rem">
															<li class="pop-hover-s menuLi nav-item rounded-3 d-flex align-items-center justify-content-center shadow-sm"
																style="width: 3rem; cursor: pointer;"
																id="changeChartType" onclick="changeChartType()">
																<i class="fa-solid fa-wrench fa-xl"
																	style="color: black;"></i>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</nav>
									</div>
								</div>
								<div class="row pt-3" style="height: calc(100% - 5rem)">
									<div class="col-sm-12 shadow rounded-4 h-100"
										style="background-color: var(--cardBg);">
										<div class="container-fluid h-100 d-flex flex-column">
											<div class="row p-2 overflow-y-auto"
												style="height: 100%; padding-top: 0 !important">
												<div
													class="col-sm-12 mt-4 px-0 d-flex justify-content-center align-items-center">
													<canvas id="myChart"
														style="max-width: 30rem; max-height: 30rem;"></canvas>
													<canvas id="myChart2" class="d-none"
														style="max-width: 30rem; max-height: 30rem;"></canvas>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Pop-up -->
	<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content" style="background-color: var(--bodyBg)">
				<div class="modal-header" style="background-color: var(--primary); justify-content: center;">
					<h5 class="h5 m-0 fw-bold mb-2" style="color: white" id="editProfile" data-i18n="editProfile"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="editProfileForm" class="needs-validation" novalidate>
						<div class="row mb-3">
							<div class="col-md-6">
								<label for="firstName" class="form-label" data-i18n="firstName"></label>
								<div class="input-group">
									<span class="input-group-text" style="border: none; background: white;">
										<i class="fa-solid fa-user" style="color: var(--primary);"></i>
									</span>
									<input type="text" class="form-control" id="firstName" style="border: none;"
									oninput="this.value = this.value.replace(/\s/g, ''); validateName('firstName', 'validateName', 'checkName')"required>
								</div>
								<small id="validateName" class="form-text text-muted d-none">
									<ul>
										<li id="checkName" class="requirement">
											<i class="fa-solid fa-xmark" id="charIcon" style="color: red"></i>
											<span data-i18n="invalidFN"></span>
										</li>
									</ul>
								</small>
							</div>
							<div class="col-md-6">
								<label for="lastName" class="form-label" data-i18n="lastName"></label>
								<div class="input-group">
									<span class="input-group-text" style="border: none; background: white;">
										<i class="fa-solid fa-user" style="color: var(--primary);"></i>
									</span>
									<input type="text" class="form-control" id="lastName" style="border: none;"
									oninput="this.value = this.value.replace(/\s/g, ''); validateName('lastName', 'validateLast', 'checkLast')" required>
								</div>
								<small id="validateLast" class="form-text text-muted d-none">
									<ul>
										<li id="checkLast" class="requirement">
											<i class="fa-solid fa-xmark" id="charIcon" style="color: red"></i>
											<span data-i18n="invalidLN"></span>
										</li>
									</ul>
								</small>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-md-6">
								<label for="phoneNumber" class="form-label" data-i18n="phoneP2"></label>
								<div class="input-group">
									<input type="text" class="form-control" id="phoneNumber" style="border: none;"
									oninput="this.value = this.value.replace(/\s/g, ''); validatePhoneNumber('phoneNumber', 'validateNumber', 'checkNumber')" required>
								</div>
								<small id="validateNumber" class="form-text text-muted d-none">
									<ul>
										<li id="checkNumber" class="requirement">
											<i class="fa-solid fa-xmark" id="charIcon" style="color: red"></i>
											<span data-i18n="invalidPN"></span>
										</li>
									</ul>
								</small>
							</div>

							<div class="col-md-6">
								<label for="birthday" class="form-label" data-i18n="birthdayP2"></label>
								<div class="input-group">
									<span class="input-group-text" style="border: none; background: white;">
										<i class="fa-solid fa-cake-candles" style="color: var(--primary);"></i>
									</span>
									<input type="date" class="form-control" id="birthday" style="border: none;"
									oninput="validateBirth('birthday', 'validateBirth', 'checkBirth')" required>
								</div>
								<small id="validateBirth" class="form-text text-muted d-none">
									<ul>
										<li id="checkBirth" class="requirement">
											<i class="fa-solid fa-xmark" id="charIcon" style="color: red"></i>
											<span data-i18n="invalidBD"></span>
										</li>
									</ul>
								</small>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col-md-6">
								<label for="gender" class="form-label" data-i18n="gender"></label>
								<div class="input-group">
									<span id="gender-icon" class="input-group-text"
										style="border: none; background: white;">
										<i class="" style="color: var(--primary);" id="icon"></i>
									</span>
									<select class="form-select" id="gender" style="border: none;"
										onchange="updateIcon('gender')" required>
										<option value="" selected disabled data-i18n="selectGender"></option>
										<option value="male" data-i18n="male"></option>
										<option value="female" data-i18n="female"></option>
										<option value="other" data-i18n="other"></option>
									</select>
								</div>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col-md-12">
								<label for="biography" class="form-label" data-i18n="bio"></label>
								<textarea class="form-control" id="biography" rows="4"
								oninput="validateBio('biography', 'validateBio', 'checkBio')"></textarea>
							</div>
							<small id="validateBio" class="form-text text-muted d-none">
								<ul>
									<li id="checkBio" class="requirement">
										<i class="fa-solid fa-xmark" id="charIcon" style="color: red"></i>
										<span data-i18n="invalidBio"></span>
									</li>
								</ul>
							</small>
						</div>

						<div class="container mt-5">
							<div class="row mb-3">
								<div class="col-md-12">
									<label for="twoFactor" class="form-label" data-i18n="enable2FAuth">
									</label>
									<div class="form-check form-switch">
										<input class="form-check-input" type="checkbox" id="twoFactor"
											onclick="verifyButtonOTP(this)">
										<label class="form-check-label" for="twoFactor"></label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 text-start">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="cancel"></button>
							</div>
							<div class="col-md-6 text-end">
								<button class="btn" type="submit"
									style="background-color: var(--primary); color: white;"
									id="saveButtonProfile" data-i18n="save"></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Two factor pop up -->
<div class="modal fade" id="twoFactorModal" tabindex="-1" aria-labelledby="twoFactorModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" style="background-color: var(--bodyBg)">
			<div class="modal-header" style="background-color: var(--primary); justify-content: center;">
				<h5 class="h5 m-0 fw-bold text-center mb-2" style="color: white" data-i18n="protectAccount"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-md-6 text-center">
						<button type="button" class="btn btn-secondary"
							style="background-color: var(--primary); color: white;" id="codeButton"
							onclick="EnableOTPViewSet(1)">
							<i class="fa-solid fa-qrcode me-2" style="color: white;"></i> App
						</button>
					</div>
					<div class="col-md-6 text-center">
						<button type="button" class="btn" style="background-color: var(--primary); color: white;"
							onclick="EnableOTPViewSet(2)">
							<i class="fa-solid fa-envelope me-2" style="color: white;"></i> E-mail
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="codeModal" tabindex="-1" aria-labelledby="codeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-sm">
		<div class="modal-content" style="background-color: var(--bodyBg)">
			<div class="modal-header" style="background-color: var(--primary);">
				<div class="container-fluid">
					<div class="row">
						<div class="col-10 d-flex justify-content-center align-items-center">
							<h5 class="h6 m-0 fw-bold text-center" style="color: white">Scan the QR Code</h5>
						</div>
						<div class="col-2 d-flex justify-content-end align-items-end">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-body">
				<div class="row">
					<div id="qrcode" style="width:100%; height:100%;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Change Password pop up -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content" style="background-color: var(--bodyBg)">
			<div class="modal-header" style="background-color: var(--primary); justify-content: center;">
				<h5 class="h5 m-0 fw-bold text-center mb-2" style="color: white" data-i18n="changePass"></h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="changePasswordForm" class="needs-validation" novalidate>

					<!-- Current Password -->
					<div class="mb-3">
						<label for="currentPassword" class="form-label" data-i18n="currPass"></label>
						<div class="input-group">
							<span class="input-group-text" style="border: none; background: white;">
								<i class="fas fa-lock" style="color: var(--primary);"></i>
							</span>
							<input type="password" class="form-control" id="currentPassword" style="border: none;"
								required>
							<span class="input-group-text" id="toggleCurrentPassword"
								style="cursor: pointer; background: white; border: none;"
								onclick="passwordVisibility('currentPassword', 'toggleCurrentPassword')">
								<i class="fas fa-eye-slash" style="color: var(--primary);"></i>
							</span>
						</div>
					</div>

					<!-- New Password -->
					<div class="mb-3">
						<label for="newPasswordChange" class="form-label" data-i18n="newPass"></label>
						<div class="input-group">
							<span class="input-group-text" style="border: none; background: white;">
								<i class="fas fa-lock" style="color: var(--primary);"></i>
							</span>
							<input type="password" class="form-control" id="newPasswordChange" style="border: none;"
								required
								oninput="validateNewPassword('newPasswordChange', 'passwordValidationChange', 'confirmPasswordChange')">
							<span class="input-group-text" id="toggleNewPasswordChange"
								style="cursor: pointer; background: white; border: none;"
								onclick="passwordVisibility('newPasswordChange', 'toggleNewPasswordChange')">
								<i class="fas fa-eye-slash" style="color: var(--primary);"></i>
							</span>
						</div>
						<small id="passwordValidationChange" class="form-text text-muted d-none">
							<ul>
								<li id="lengthCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="lengthIcon" style="color: red;"></i>
									<span data-i18n="passLength"></span>
								</li>
								<li id="upperCaseCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="upperCaseIcon" style="color: red;"></i>
									<span data-i18n="passUpperCase"></span>
								</li>
								<li id="numberCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="numberIcon" style="color: red;"></i>
									<span data-i18n="passNumber"></span>
								</li>
								<li id="specialCharCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="specialCharIcon" style="color: red;"></i>
									<span data-i18n="passSpecCharact"></span>
								</li>
							</ul>
						</small>
					</div>

					<!-- Retype Password -->
					<div class="mb-3">
						<label for="confirmPasswordChange" class="form-label" data-i18n="retypePass"></label>
						<div class="input-group">
							<span class="input-group-text" style="border: none; background: white;">
								<i class="fa-solid fa-lock" style="color: var(--primary);"></i>
							</span>
							<input type="password" class="form-control" id="confirmPasswordChange" style="border: none;"
								required
								oninput="validatePasswordsMatch('newPasswordChange', 'confirmPasswordChange', 'confirmValidationChange', 'matchCheckChange')">
							<span class="input-group-text" id="toggleConfirmPasswordChange"
								style="cursor: pointer; background: white; border: none;"
								onclick="passwordVisibility('confirmPasswordChange', 'toggleConfirmPasswordChange')">
								<i class="fas fa-eye-slash" style="color: var(--primary);"></i>
							</span>
						</div>

							<small id="confirmValidationChange" class="form-text text-muted d-none">
								<ul>
									<li id="matchCheckChange" class="requirement">
										<i class="fa-solid fa-xmark" id="charIcon" style="color: red"></i>
										<span data-i18n="passNotMatch"></span>
									</li>
								</ul>
							</small>
					</div>

					<!-- Submit -->
					<div class="text-end">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n="cancel"></button>
						<button type="submit" class="btn"
							style="background-color: var(--primary); color: white;" data-i18n="save"></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
