
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: calc(100vh - 14rem);">
	<div class="row ">
		<div class="p-3 pt-4 shadow rounded" style="background-color: var(--cardBg);; width: 600px;">
			<p class="h4 text-center" style="font-weight: bold; color: #000;">Resend the code to your email</p>

				<div class="tab-pane fade show active" id="resendCode" role="tabpanel" aria-labelledby="resendCode-tab">
					<form class="mt-3 needs-validation" id="resendCode-form" novalidate>
						<div class="mb-3">
							<div class="input-group">
								<span class="input-group-text"><i class="fas fa-envelope" style="color: var(--primary);"></i></span>
								<input type="email" class="form-control" id="resendCode" placeholder="Email">
							</div>
						</div>
						<button type="submit" class="btn" style="background-color: var(--primary); color: white; width: 100%;">Send</button>
					</form>
					<p id="resendCode-message">
					</p>
				</div>
			</p>
		</div>
	</div>
</div>