<div class="container-fluid d-flex justify-content-center align-items-center" style="height: calc(100vh - 14rem);">
	<div class="row">
		<div class="p-3 pt-4 shadow rounded" style="background-color: var(--cardBg); width: 600px;">
			<p class="h4 text-center" style="font-weight: bold; color: #000;">Let's reset your password</p>
			<div class="tab-pane fade show active" id="resetPwd" role="tabpanel" aria-labelledby="resetPwd-tab">
				<form class="mt-3 needs-validation" id="resetPwd-form" novalidate>

					<div class="mb-3">
						<label for="newPassword" class="form-label">New password</label>
						<div class="input-group">
							<span class="input-group-text" style="border: none; background: white;">
								<i class="fas fa-lock" style="color: var(--primary);"></i>
							</span>
							<input type="password" class="form-control" id="newPassword" style="border: none;" required
								oninput="validateNewPassword('newPassword', 'passwordValidation', 'confirmPassword')">
							<span class="input-group-text" id="toggleNewPassword"
								style="cursor: pointer; background: white; border: none;"
								onclick="passwordVisibility('newPassword', 'toggleNewPassword')">
								<i class="fas fa-eye-slash" style="color: var(--primary);"></i>
							</span>
						</div>
						<small id="passwordValidation" class="form-text text-muted d-none">
							<ul>
								<li id="lengthCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="lengthIcon" style="color: red;"></i>
									At least 8 characters long
								</li>
								<li id="upperCaseCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="upperCaseIcon" style="color: red;"></i>
									At least 1 uppercase letter
								</li>
								<li id="numberCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="numberIcon" style="color: red;"></i>
									At least 1 number
								</li>
								<li id="specialCharCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="specialCharIcon" style="color: red;"></i>
									At least 1 special character
								</li>
							</ul>
						</small>
					</div>

					<div class="mb-3">
						<label for="confirmPassword" class="form-label">Retype password</label>
						<div class="input-group">
							<span class="input-group-text" style="border: none; background: white;">
								<i class="fa-solid fa-lock" style="color: var(--primary);"></i>
							</span>
							<input type="password" class="form-control" id="confirmPassword" style="border: none;"
								required
								oninput="validatePasswordsMatch('newPassword', 'confirmPassword', 'confirmValidation', 'matchCheck')">
							<span class="input-group-text" id="toggleConfirmPassword"
								style="cursor: pointer; background: white; border: none;"
								onclick="passwordVisibility('confirmPassword', 'toggleConfirmPassword')">
								<i class="fas fa-eye-slash" style="color: var(--primary);"></i>
							</span>
						</div>
						
						<small id="confirmValidation" class="form-text text-muted d-none">
							<ul>
								<li id="matchCheck" class="requirement">
									<i class="fa-solid fa-xmark" id="charIcon" style="color: red"></i>
										Passwords do not match
								</li>
							</ul>
						</small>
					</div>
					<button type="submit" class="btn"
						style="background-color: var(--primary); color: white; width: 100%;">Reset</button>
				</form>
				<p id="resetPwd-message" class="invalid-feedback">
				</p>
			</div>
		</div>
	</div>
</div>