<div class="h-100">
  <div class="container-fluid h-100 d-flex flex-column">
    <div class="row" style="min-height: 5rem">
      <div class="col-sm-12 shadow rounded-4 d-flex align-items-center w-100" style="background-color: var(--layoutBg);">
        <nav class="container-fluid">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-10">
              <div class="d-flex gap-2 h-100">
                <ul class="nav nav-pills" style="height: 3rem">
                  <li class="pop-hover-s menuLi nav-item rounded-3 me-2 d-flex align-items-center iconInactive"
                    id="loadGlobalUsers" onclick="GlobalFriendsSelect(this.id)">
                    <i class="fa-solid fa-globe fa-xl ms-2"></i>
                    <p class="h5 m-0 ms-2 d-none d-xl-block" style="font-weight: bold" data-i18n="global"></p>
                  </li>
                  <li class="pop-hover-s menuLi nav-item rounded-3 ms-2 d-flex align-items-center iconInactive"
                    id="loadFriendUsers" onclick="GlobalFriendsSelect(this.id)">
                    <i class="fa-solid fa-heart fa-xl ms-2"></i>
                    <p class="h5 m-0 ms-2 d-none d-xl-block" style="font-weight: bold" data-i18n="friends"></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row pt-3" style="height: calc(100% - 5rem);">
      <div class="col-sm-12 shadow rounded-4 h-100" style="background-color: var(--layoutBg);">
        <div class="container-fluid h-100 d-flex flex-column">
          <div class="row" style="height: 5rem">
            <div class="col-sm-12 d-flex align-items-center w-100"
              style="padding-left: 0 !important; padding-right: 0 !important">
              <nav class="container-fluid">
                <div class="row">
                  <div class="col-lg-10 col-md-10 col-10">
                    <div class="d-flex gap-2 h-100">
                      <form class="d-flex" role="search" style="width: 31rem;" onsubmit="event.preventDefault();">
                        <input class="form-control rounded-3" id="userSearchInput" onkeyup="searchUser()" type="search">
                      </form>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="d-grid gap-2 d-flex justify-content-end">
                      <ul class="nav nav-pills" style="height: 3rem">
                        <li
                          class="pop-hover-s nav-item rounded-3 d-flex align-items-center justify-content-center shadow-sm"
                          style="cursor: pointer; width: 3rem" id="reloadIconLi" onclick="reloadSocialInformation(this.dataset.id)">
                          <i class="fa-solid fa-rotate fa-xl" style="color: black" id="reloadIcon"></i>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div class="row p-2 overflow-y-auto" style="height: 100%; padding-top: 0 !important">
            <div class="col-sm-12 px-0" id="usersContent">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>