<div id="tournamentGameCard" class="game-card p-3 mb-3 rounded-4"
     style="background-color: var(--bodyBg);">
    
    <!-- Troque align-items-start por align-items-center -->
    <div class="d-flex align-items-center" style="min-height: 5rem;">
        
        <!-- Coluna ESQUERDA: "Game" / "Semi final" -->
        <div class="d-flex flex-column" style="width: 8rem;">
            <p class="h4 mb-0" style="font-weight: bold" data-i18n="game"></p>
            <p class="h5 mt-2 mb-0" id="tournGameNumber"></p>
        </div>
        
        <!-- Coluna DIREITA: "Players" / "Status" -->
        <div class="d-flex flex-column ms-4" style="flex: 1;">
            <div class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-users fa-lg me-2"></i>
                <p class="h6 mb-0">
                    <span style="font-weight: bold" data-i18n="players"></span>
                    <span class="ms-2" id="tournGamePlayer1"></span>
                    <span class="mx-2">vs</span>
                    <span id="tournGamePlayer2"></span>
                </p>
            </div>
            <div class="d-flex align-items-center">
                <i class="fa-solid fa-circle-info fa-lg me-2"></i>
                <p class="h6 mb-0">
                    <span style="font-weight: bold" data-i18n="status"></span>
                    <span class="ms-2" id="tournGameStatus"></span>
                </p>
            </div>
        </div>
        <div id="tournGameWinnerText" class="d-flex flex-column d-none" style="width: 8rem;">
            <p class="h4 mb-0" style="font-weight: bold" data-i18n="winner"></p>
            <p class="h5 mt-2 mb-0" id="tournGameWinner"></p>
        </div>
        <div id="tournGameBtn" class="align-content-right d-none">
            <ul class="nav nav-pills justify-content-end" style="height: 3rem">
                <li class="pop-hover-s menuLi nav-item rounded-3 d-flex align-items-center justify-content-center shadow-sm"
                    style="width: 3rem; cursor: pointer; background-color: white;" id="enterLi" href="/pong" onclick="enterTournamentGame(this.dataset.id)">
                    <i class="fa-solid fa-table-tennis-paddle-ball fa-xl" style="color: black"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
