<div class="my-2 rounded-4 fadeIn" id="userCard">
    <div class="container-fluid rounded-4 d-flex"
        style="max-height: 6rem; min-height: 6rem; background-color: var(--cardBg)">
        <div class="d-flex" style="width: 25rem; min-width: 25rem; height: 6rem;">
            <div class="justify-content-center align-content-center" style="width: 5rem;">
                <img src="/static/img/pfp1.jpeg" style="object-fit: cover"
                    class="img-fluid w-100 rounded-circle shadow ms-2" id="userImg" />
            </div>
            <div class="w-75 h-100 d-flex flex-column justify-content-center ms-4">
                <div class="d-flex align-items-center">
                    <p class="h4 mb-0">Lvl</p>
                    <p class="h5 mb-0 ms-1" id="userLvl"></p>
                </div>
                <div class="d-flex align-items-center">
                    <h4 class="mb-0"><strong id="userNick"></strong></h4>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center ms-4"
        style="width: 2rem; min-width: 2rem; height: 6rem;">
            <p class="h1 mb-0">|</p>
        </div>
        <div class="d-flex" style="width: 10rem; min-width: 10rem; height: 6rem;">
            <div class="w-100 h-100 d-flex flex-column justify-content-center ms-2">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-medal fa-lg"></i>
                    <div class="ms-2">
                        <p class="h4 mb-0" style="width: 40px; text-align: left;" id="userGamesWon"></p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-trophy fa-lg"></i>
                    <div class="ms-1">
                        <p class="ms-1 h4 mb-0" style="width: 40px; text-align: left;" id="userTournamentsWon"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="min-height: 6rem">
                <div class="col-5">
                </div>
                <div class="col-7 align-content-center">
                    <ul class="nav nav-pills justify-content-end" style="height: 3rem">
                        <li class="pop-hover-s menuLi nav-item rounded-3 d-flex align-items-center justify-content-center shadow-sm"
                            style="width: 3rem; cursor: pointer; background-color: white;" id="profileLi" onclick="goToProfile(this.dataset.id)">
                            <i class="fa-solid fa-user fa-xl" style="color: black" ></i>
                        </li>
                        <li class="pop-hover-s ms-4 menuLi nav-item rounded-3 d-flex align-items-center justify-content-center shadow-sm"
                            style="width: 3rem; cursor: pointer; background-color: white;">
                            <i class="fa-solid fa-user-plus fa-xl" style="color: black"></i>
                        </li>
                        <li class="pop-hover-s ms-4 menuLi nav-item rounded-3 d-flex align-items-center justify-content-center shadow-sm"
                            style="width: 3rem; cursor: pointer; background-color: white;" id="inviteLi" onclick="invitePlayer(this.dataset.id)">
                            <i class="fa-solid fa-table-tennis-paddle-ball fa-xl" style="color: black"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>