<div class="rounded rounded-4 h-75 w-100" style="background-color: var(--cardBg);">
    <div class="row h-100">
        <div class="col-12 h-50 w-100">
            <div class="d-flex justify-content-center align-items-center align-content-center h-100">
                <img src="/static/img/pfp1.jpeg" style="object-fit: cover; max-width: 6rem; width: 100%; height: 100%; border-radius: 50%;"
                    class="img-fluid rounded-circle shadow mt-2" id="topPlayerAvatar" />
            </div>
        </div>
        <div class="col-12 h-50 w-100">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <p class="h3"><strong id="topPlayerNickname"></strong></p>
                <p class="h4" id="topPlayerLvl"></p>
            </div>
        </div>
    </div>
</div>