<div class="my-2 rounded-4 fadeIn" id="tournamentCard">
    <div class="container-fluid rounded-4 d-flex"
        style="max-height: 6rem; min-height: 6rem; background-color: var(--cardBg)">
        <div class="d-flex" style="width: 15rem; min-width: 15rem; height: 6rem;">
            <div class="w-75 h-100 d-flex flex-column justify-content-center ms-4">
                <div class="d-flex align-items-center">
                    <p class="h3 mb-0 ms-1"><strong id="tournamentTitle"></strong></p>
                </div>
                <div class="d-flex align-items-center">
                    <h4 class="mb-0"><strong id="userNick"></strong></h4>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center ms-4"
            style="width: 1rem; min-width: 1rem; height: 6rem;">
            <p class="h1 mb-0">|</p>
        </div>
        <div class="d-flex" style="width: 10rem; min-width: 10rem; height: 6rem;">
            <div class="w-100 h-100 d-flex flex-column justify-content-center ms-2">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-calendar-check fa-xl"></i>
                    <div class="ms-2">
                        <p class="h5 mb-0" style="text-align: left; margin-bottom: 0;" id="tournamentCreatedOn"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center ms-1"
            style="width: 1rem; min-width: 1rem; height: 6rem;">
            <p class="h1 mb-0">|</p>
        </div>
        <div id="tournUsers" class="d-flex d-none" style="width: 20rem; min-width: 10rem; height: 6rem;">
            <div class="d-flex align-items-center">
                <p class="h4 mb-0" style="font-weight: bold" data-i18n="users"></p>
                <p class="h5 mb-0 ms-2">(</p>
                <p class="h5 mb-0" id="tournamentPlayers"></p>
                <p class="h5 mb-0 ms-1 me-2">/4)</p>
                <p class="h5 mb-0" style="white-space: nowrap;" id="tournamentP1Nick"></p>
                <p class="h5 mb-0 ms-2 me-2"> | </p>
                <p class="h5 mb-0" style="white-space: nowrap;" id="tournamentP2Nick"></p>
                <p class="h5 mb-0 ms-2 me-2"> | </p>
                <p class="h5 mb-0" style="white-space: nowrap;" id="tournamentP3Nick"></p>
                <p class="h5 mb-0 ms-2 me-2"> | </p>
                <p class="h5 mb-0" style="white-space: nowrap;" id="tournamentP4Nick"></p>
            </div>
        </div>
        <div id="tournWinner" class="d-flex d-none" style="width: 50rem; min-width: 10rem; height: 6rem;">
            <div class="d-flex align-items-center">
                <p class="h4 mb-0 me-2" style="font-weight: bold" data-i18n="winnerT"></p>
                <p class="h5 mb-0" style="white-space: nowrap;" id="tournWinnerNick"></p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" style="min-height: 6rem">
                <div class="col-5">
                </div>
                <div class="col-7 align-content-center">
                    <ul class="nav nav-pills justify-content-end" style="height: 3rem">
                        <li class="pop-hover-s menuLi nav-item rounded-3 d-flex align-items-center justify-content-center shadow-sm"
                            style="width: 3rem; cursor: pointer; background-color: white;" 
                            id="enterLi"
                            data-id=""
                            onclick="toggleTournamentGames('gamesContainer-{{TOURNAMENT_ID}}')">
                          <i class="fa-solid fa-chevron-down fa-xl" style="color: black"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="gamesContainer-{{TOURNAMENT_ID}}" class="d-none p-3 my-2 d-flex flex-column">
        <strong id="gameTitle"></strong><br>
        <span id="gamePlayers"></span><br>
        <span id="gameStatus"></span>
    </div>    
</div>