<div class="my-2 rounded-4">
    <div class="container-fluid rounded-4 d-flex"
        style="max-height: 6rem; min-height: 6rem; background-color: var(--cardBg)">
        <div class="d-flex" style="height: 6rem;">
            <div class="justify-content-center align-content-center" style="max-width: 5rem;">
                <img src="/static/img/pfp2.jpg" style="object-fit: cover"
                    class="img-fluid w-100 rounded-circle shadow ms-2" id="friendImg" />
            </div>
            <div class="w-75 h-100 d-flex flex-column justify-content-center ms-4">
                <div class="d-flex align-items-center">
                    <span class="status-dot" id="userOnStatus"></span>
                    <h4 class="mb-0"><strong id="friendNick"></strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>