<div class="mt-3 mx-2 border border-2 border-black rounded-5" id="gameCard">
    <div class="container-fluid d-flex" style="max-height: 6rem; min-height: 6rem;">
        <div class="d-flex bg-danger-subtle" style="width: 18rem; min-width: 18rem; height: 6rem;">
            <div class="w-75 h-100 justify-content-center align-content-center">
                <img src="/static/img/pfp1.jpeg" style="object-fit: cover"
                    class="img-fluid w-50 rounded-circle border border-1 border-black bg-success" />
            </div>
            <div class="w-75 h-100 ms-2 d-flex">
                <p class="h4 d-flex h-50"> Lvl</p>
                <p class="h5 h-50">4</p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center bg-success-subtle" style="width: 5rem; min-width: 5rem; height: 6rem;">
            <p class="h2 mb-0"><strong><em>VS</em></strong></p>
        </div>
        <div class="d-flex bg-danger-subtle" style="width: 18rem; min-width: 18rem; height: 6rem;">
            <div class="w-75 h-100 justify-content-center align-content-center">
                <img src="/static/img/pfp1.jpeg" style="object-fit: cover"
                    class="img-fluid w-50 rounded-circle border border-1 border-black bg-success" />
            </div>
            <div class="w-75 h-100 ms-2 d-flex">
                <p class="h4 d-flex h-50"> Lvl</p>
                <p class="h5 h-50">4</p>
            </div>
        </div>
    </div>
</div>