.menuLi {
    width: 15rem;
    cursor: pointer;
}

.modalActionsLi {
    width: 7rem;
    cursor: pointer;
}

.modalLi {
    width: 9rem;
    cursor: pointer;
}

@media (width < 1200px) {
    .menuLi {
        width: 3rem;
        cursor: pointer;
    }

    .modalActionsLi {
        width: 3rem;
        cursor: pointer;
    }
}

.rotate {
    animation: rotate 0.5s linear forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.form-check-input:checked {
    background-color: black !important;
    border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: none !important;
}