<div class="h-100">
  <div class="container-fluid h-100">
    <div class="row row-cols-2 column-gap-3 row-gap-3 p-2 h-100">
      <div class="h-45 col-sm-8 border border-black shadow rounded-3">
        <h3>Notas:</h3>
        <h5>
          Na pagina Games&Tournaments, trocar de buttons para nav, para ficar tudo coerente
        </h5>
      </div>
      <div class="h-45 col-sm border border-black shadow rounded-3">
        <h3>Dúvidas:</h3>
        <h5>
          Perguntar ao Bruno se o load do content na pagina dos Games&Tournaments tambem deve ser dividido
        </h5>
      </div>
      <div class="h-45 col-sm-8 border border-black shadow rounded-3">
        <h3>Bugs Conhecidos:</h3>
        <h5>
          Quando se dá f5 numa rota ex: (/games), vai dar erro, para resolver
          retirar a rota do link
        </h5>
        <h5>
          De vez enquando dá erro na Network a tentar dar fetch ou ao json da
          linguagem ou do logo
        </h5>
      </div>
      <div class="h-45 col-sm border border-black shadow rounded-3">
        <h3>UI:</h3>
        <h5>
          Decidir quanto ao tamanho dos butoes da sidebar
        </h5>
      </div>
    </div>
  </div>
</div>
