<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h2>List of Users</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Created At</th>
                <th>Updated At</th>
				<th>Last Login</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.updated_at }}</td>
				<td>{{ user.last_login}}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	<br>
	<button onclick="window.location.href='/'">Home</button>

    <a href="{% url 'create_user' %}">Create a New User</a>
</body>
</html>

