<div class="h-100">
  <div class="container-fluid h-100 d-flex flex-column">
    <div class="row p-2" style="height: 14vh">
      <div class="col-sm-12 border border-2 border-black shadow rounded-3 d-flex align-items-center w-100">
        <nav class="container-fluid">
          <div class="row">
            <div class="col-8">
              <div class="d-flex gap-2 h-100">
                <ul class="nav nav-pills" style="height: 5vh;">
                  <li class="pop-hover-s nav-item border border-2 border-black rounded-3 me-2 d-flex align-items-center"
                    style="width: 25vh; cursor: pointer;">
                    <i class="fa-solid fa-gamepad fa-xl ms-2"></i>
                    <p class="h5 m-0 ms-2" style="font-weight: bold" data-i18n="games"></p>
                  </li>
                  <li class="pop-hover-s nav-item border border-2 border-black rounded-3 ms-2 d-flex align-items-center"
                    style="width: 25vh; cursor: pointer;">
                    <i class="fa-solid fa-users fa-xl ms-2"></i>
                    <p class="h5 m-0 ms-2" style="font-weight: bold" data-i18n="tournaments">
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-4">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <ul class="nav nav-pills" style="height: 5vh;">
                  <li class="pop-hover-s nav-item border border-2 border-success rounded-3 me-2 d-flex align-items-center bg-success shadow-sm"
                    style="width: 25vh; cursor: pointer;">
                    <i class="fa-solid fa-plus fa-xl ms-2" style="color: white;"></i>
                    <p class="h5 m-0 ms-2" style="color: white; font-weight: bold" data-i18n="create"></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="row p-2" style="height: calc(100vh - 14vh)">
      <div class="col-sm-12 border border-2 border-black shadow rounded-3 h-100">
        content
      </div>
    </div>
  </div>
</div>