<div class="h-100">
  <div class="container-fluid h-100 d-flex flex-column">
    <div class="row p-2" style="height: 14vh">
      <div
        class="col-sm-12 border border-2 border-black shadow rounded-3 d-flex align-items-center w-100"
      >
        <div class="container-fluid">
          <div class="row">
            <div class="col-8">
              <div class="d-flex gap-2 h-100">
                <button
                  type="button"
                  class="btn btn-lg btn-dark d-flex align-items-center"
                  style="width: 25vh"
                >
                  <i class="fa-solid fa-gamepad"></i>
                  <p class="h5 m-0 ms-2" style="font-weight: bold" data-i18n="games"></p>
                </button>
                <button
                  type="button"
                  class="btn btn-lg btn-outline-dark d-flex align-items-center ms-2"
                  style="width: 25vh"
                >
                  <i class="fa-solid fa-users"></i>
                  <p class="h5 m-0 ms-2" style="font-weight: bold" data-i18n="tournaments">
                  </p>
                </button>
              </div>
            </div>
            <div class="col-4">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button
                  type="button"
                  class="btn btn-lg btn-outline-dark d-flex align-items-center ms-2"
                  style="width: 25vh"
                >
                  <i class="fa-solid fa-plus"></i>
                  <p class="h5 m-0 ms-2" style="font-weight: bold" data-i18n="create">
                  </p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-2" style="height: calc(100vh - 14vh)">
      <div class="col-sm-12 border border-2 border-black shadow rounded-3 h-100">
        content
      </div>
    </div>
  </div>
</div>
