<div class="row">
	<nav class="container-fluid">
		<ul class="nav nav-pills d-flex justify-content-center mt-5" style="height: 5rem; padding-left: 0;">
			<h1 class="display-1"><strong> 🚫 OOPS!</strong></h1>
		</ul>
		<ul class="nav nav-pills d-flex justify-content-center" style="height: 5rem; padding-left: 0;">
			<h1 class="h3 mt-5"><strong>Forbidden</strong></h1>
		</ul>
		<ul class="nav nav-pills d-flex justify-content-center" style="height: 5rem; padding-left: 0;">
			<h1 class="h3 mt-3">You do not have access to this page :/</h1>
		</ul>
	</nav>
    <div class="col-12 d-flex justify-content-center">
        <img src="/static/img/errorPage/403.png" class="img-fluid" alt="..." style="width: 25%; height: auto;">
    </div>
    <div class="col-12 d-flex align-content-center align-items-center">
    </div>
	<div class="col-12 d-flex align-content-center align-items-center">
        <nav class="container-fluid">
            <ul class="nav nav-pills d-flex justify-content-center" style="height: 5rem; padding-left: 0;">
                <li class="pop-hover-xs mainPageLi iconMainPage nav-item rounded-3 me-2 d-flex align-items-center" onclick="goToHome()">
                    <i class="fa-solid fa-house fa-2xl me-2"></i>
                    <p class="h4 m-0 ms-2" style="font-weight: bold">Home
                    </p>
                </li>
            </ul>
        </nav>
    </div>
</div>